.container {
  display: flex;
  width: 100%;
  margin: auto;
  text-align: center;
}
body {
  background-image: url("images/backg.png");
}

h1 {
  text-align: center;
  margin: 0px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #4ecca3;
}
h2 {
  display: block;
  font-size: 2rem;
  margin-top: 20px;
  color: white;
  font-family: "Lucida Sans", sans-serif;
}
.round {
  margin-bottom: 0;
  text-align: center;
  margin-left: 30%;
}
p {
  font-size: 1.8rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 30%;
}

footer {
  margin-top: 2%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
.game {
  display: flex;
}
.rule > p {
  font-size: 1.5rem;
  margin-left: 140px;
  width: 80%;
  text-align: center;
  margin-top: 4%;
  color: white;
}
.rule > p > strong {
  color: #4ecca3;
  font-size: 2.5rem;
}

.btn {
  text-align: center;
  margin-top: 250px;
  padding: 10px 40px;
  border-radius: 5px;
  border-style: hidden;
  background-color: white;
  color: #232931;
  font-size: 1.6em;
  font-family: "Lucida Sans", cursive;
}

.score > h2 {
  margin: 10px;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
  font-size: 4rem;
}
table {
  margin: 50px 20px;
  width: 350px;
  border-collapse: collapse;
  border-style: hidden;
}

tr:nth-of-type(odd) {
  background: #393e46;
}

th {
  background-color: #3498db;
  font-weight: bold;
}

td,
th {
  color: white;
  padding: 10px;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #232931;
  font-size: 20px;
  border-radius: 4px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
}

/*-------Popup----------*/
.popup-wrapper {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.popup {
  font-family: "Indie Flower", cursive;
  text-align: center;
  width: 50%;
  margin: 10% auto;
  padding: 20px;
  background: #fff;
  position: relative;
}
.popup-close {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
  font-size: 2rem;
}
.winner {
  color: #232931;
}

@media screen and (max-width: 992px) { /*Medium  Screens*/
  .img1,
  .img2,
  .img3,
  .img4 {
    width: 40%;
  }
  .btn {
    margin-top: 240px;
    padding: 8px 30px;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 767px) { /*Mobile phones */
  .container {
    display: block;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    text-align: center;
  }
  .round {
    margin-left: auto;
    font-size: 1.5rem;
  }
  .score > h2 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  table {
    width: 90%;
    margin-bottom: 0;
    margin-top: 0;
  }
  td,
  th {
    padding: 10px;
    font-size: 20px;
  }
  .dice > p {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0;
  }
  .img1,
  .img2,
  .img3,
  .img4 {
    width: 42%;
    margin-top: 0px;
  }
  .btn {
    margin-top: 160px;
    text-align: center;
    padding: 8px 20px;
    font-size: 1.2rem;
  }
  .rule > p {
    font-size: 0.8rem;
    margin-top: 15%;
    margin-left: 40px;
  }
  .rule > p > strong {
    font-size: 1rem;
  }
  footer {
    margin-top: 0%;
  }
  .popup {
    width: 75%;
    margin-top: 170px;
  }
}